astpath==0.9.0
click==8.0.3
cssselect==1.1.0
flake8==4.0.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
PyYAML==6.0
SQLAlchemy==1.4.26
superhelp==1.9.2
tabulate==0.8.9
Werkzeug==2.0.2
