
#input {
  margin: 40px 70px 20px 70px;
}
#code {
  font-size: 20px;
  min-height: 200px;
  min-width: 700px;
  resize: both;  // override bootstrap
}
#code-help {
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
}